*.pyc
.*.cfg
.coverage
.mrsd
.python-version
/*eggs/
/.project
/.pydevproject
/.Python
/.settings/
/.vscode/
/bin
/coverage/
/devsrc/
/dist/
/htmlcov/
/include/
/lib/
/local/
/parts/
/share/
/src/*.egg-info
/var/
/buildout.cfg
/pip-selfcheck.json
