__pycache__
.*.cfg
.coverage
.installed.txt
.python-version
*-dev.txt
*-mxdev.txt
*.egg-info
*.mo
*.pyc
*.pyo
/.mxmake/
/.project
/.pydevproject
/.Python
/.settings/
/.vscode/
/*eggs/
/coverage/
/dist/
/htmlcov/
/instance/
/pip-selfcheck.json
/sources/
/src/*.egg-info
/venv/
/.openldap/
