language: python
sudo: false
cache:
  pip: true
  directories:
    - $HOME/buildout-cache
python:
  - 2.7
env:
  - PLONE_VERSION=4.3 QA=true
  - PLONE_VERSION=5.0 QA=true
  - PLONE_VERSION=5.1 QA=true
addons:
  apt:
    packages:
    - libsasl2-dev
    - libssl-dev
    - libdb-dev
before_install:
  - mkdir -p $HOME/buildout-cache/{eggs,downloads}
  - mkdir $HOME/.buildout
  - echo "[buildout]" > $HOME/.buildout/default.cfg
  - echo "download-cache = $HOME/buildout-cache/downloads" >> $HOME/.buildout/default.cfg
  - echo "eggs-directory = $HOME/buildout-cache/eggs" >> $HOME/.buildout/default.cfg
  - virtualenv .
  - bin/pip install --upgrade pip setuptools zc.buildout coveralls createcoverage
install:
  - sed -ie "s#plone-4.3.x.cfg#plone-$PLONE_VERSION.x.cfg#" travis.cfg
  - bin/buildout -N -t 3 -c travis.cfg
script:
  - bin/code-analysis
  - bin/test
after_success:
  - bin/createcoverage
  - bin/python -m coverage.pickle2json
  - bin/coveralls
