[buildout]
extends =
    ldap.cfg
    http://dist.plone.org/release/4.1-latest/versions.cfg

versions = versions
parts = instance testldap coverage 
develop = .

extensions = mr.developer
sources-dir = ${buildout:directory}/devsrc
always-checkout = true
auto-checkout = *

[sources]
node.ext.ldap = git git@github.com:bluedynamics/node.ext.ldap
node.ext.ugm = git git@github.com:bluedynamics/node.ext.ugm
Products.PlonePAS = svn https://svn.plone.org/svn/collective/Products.PlonePAS/trunk/

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = off
deprecation-warnings = on
blob-storage = var/blobstorage

eggs =
    ${python-ldap:egg}
    pas.plugins.ldap
    
zcml =
    pas.plugins.ldap

[test]
recipe = zc.recipe.testrunner
eggs = pas.plugins.ldap[test]
environment = testenv

[coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']
environment = testenv
