[buildout]
show-picked-versions = true

extensions = mr.developer
sources-dir = ${buildout:directory}/devsrc
always-checkout = force
auto-checkout +=
#    node
#    node.ext.ldap
#    node.ext.ugm
#    yafowil
#    yafowil.plone
#    yafowil.widget.array
#    yafowil.widget.dict

[versions]
# Test
plone.recipe.codeanalysis = >=3.0.1
flake8 = >=2.3.0
coverage = 3.7.1

# Sphinx
Sphinx = >=1.3.1
docutils = >=0.12
Pygments = >=2.0.2

[versions:python27]
configparser = 4.0.2
zipp = 1.2

[repo]
rw = git@github.com:bluedynamics
ro = https://github.com/bluedynamics

[sources]
# node                 = git ${repo:ro}/node.git pushurl=${repo:rw}/node.git
# node.ext.ldap        = git ${repo:ro}/node.ext.ldap.git pushurl=${repo:rw}/node.ext.ldap.git
# node.ext.ugm         = git ${repo:ro}/node.ext.ugm.git pushurl=${repo:rw}/node.ext.ugm.git
# yafowil              = git ${repo:ro}/yafowil.git pushurl=${repo:rw}/yafowil.git
# yafowil.plone        = git ${repo:ro}/yafowil.plone.git pushurl=${repo:rw}/yafowil.plone.git
# yafowil.widget.array = git ${repo:ro}/yafowil.widget.array.git pushurl=${repo:rw}/yafowil.widget.array.git
# yafowil.widget.dict  = git ${repo:ro}/yafowil.widget.dict.git pushurl=${repo:rw}/yafowil.widget.dict.git
